
admin/partials/.DS_Store
languages/.DS_Store
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/ssbhesabfa.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/hesabfa-accounting.iml
.idea/php.xml
.idea/dictionaries/saeedsattarbeglou.xml
